html {
    background-color: black;
}

body {
    margin: 0 auto;
    background-color: black;
}

h2, h3 {
    color: white;
    text-align: center;
}

.title {
    font-size: 68px;
    margin-bottom: 100px;
    margin-top: 100px;
}

.intersect {
    background-color: white;
    width: 100%;
    height: 5px;
}

.indi-don {
    font-size: 18px;
}

.indi-badge{
    min-width: 220px;
    min-height: 20px;
    justify-content: space-between;
    background-color: #326A2E;
    color: white;
}

.inner-badge {
    min-width: 40px;
}

.top-donators {
    background-color: black;
}

.space-text {
    margin-bottom: 40px;
}

.bold-txt {
    font-size: 30px;
    font-weight: bold;
}

.head-goal {
    margin-top: 25px;
}

.under-txt {
    color: wheat;
}

.progress {
    width: 50%;
    min-height: 38px;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.h3-goal {
    font-size: 40px;
}

.margin {
    background-color: black;
    height: 100px;
}

.footer {
    margin-top: 50px;
}

.top-3 {
    font-size: 35px;
    margin-top: 25px;
    margin-bottom: 35px;
}

.top-7 {
    font-size: 22px;
    margin-bottom: 10px;
}

.don {
    margin-left: 10px;
}

.int {
    font-size: 30px;
    font-weight: bold;
}
