html {
    background-color: black;
}

body {
    background-color: black;
    max-height: 800px;
}

button {
    margin-top: 25px;
}

li {
    font-size: 32px;
    margin-right: 20px;
    color: black;
}

.img-container {
    margin: 0 auto;
    height: 500px;
    width: 800px;

}

.image-nav {
    width: 50px;
    height: 50px;
}

.img {
    width: 50%;
}

.btn {
    margin-top: 100px;
    margin-right: 8px;
    font-size: 28px;
}

#logo {
    width: 55%;
    margin-top: 50px;
}
